:root{
    --darkyellow:#f5b700;
    --yellow:#ffe66d;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background:#f8f9fa;
}
nav{
    z-index:1000;
}
.nav-font{
    font-family: 'Roboto Slab', serif;
}
.font{
   font-family: 'Arvo', serif;
}
header{
    position:absolute;
    top:0;
}
.l-space{
    letter-spacing:0.1rem;
}
.navbar-light .navbar-nav .nav-link.active{
    color:var(--darkyellow);
}
.navbar-light .navbar-nav .nav-link{
    transition: 0.2s ease-in;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:var(--darkyellow);
}
.yellow{
    color:var(--yellow);
}
.darkyellow{
    color:var(--darkyellow);
}
.black{
    color:black;
}
.white{
    color:white;
}
.shadow{
     filter:grayscale(100%);
}
.carousel-item .carousel-caption{
    margin-bottom:20vh;
}
.carousel .btn, .myModal{
    background-color:var(--darkyellow);
}
.myModal:hover{
    color:white;
}
.carousel .btn:hover{
    background-color: var(--yellow);
}
.carousel-item .carousel-caption p a.darkyellow:hover,.container-fluid a.darkyellow:hover{
    color:var(--yellow);
}
.hover-block{
    background:rgba(0, 0, 0, 0.85);
    height:100%;
    opacity:0;
    transition:0.2s opacity ease-in;
}
.row .hover-img:hover + .hover-block, .hover-block:hover{
    cursor:pointer;
    opacity:1;
}
#f-q{
    top:0.5rem;
    left:1rem;
}
#s-q{
    bottom:0.5rem;
    right:1rem;
}
.cover-text{
    font-size:7rem;
    bottom:-1.5rem;
    left:5rem;
}
footer a.white:hover{
    color:var(--darkyellow);
}
.line{
  width: 20%;
  height: 3px;
  border: none;
}
.card-hover{
    transition:0.2s ease-in;
}
.card-hover:hover{
    border:1px solid #f5b700;
}
input.form-control:focus{
    box-shadow:none;
    border-color:#f5b700;
}
.gallery img{
    transition:0.2s ease-in;
}
.gallery img:hover{
    transform: scale(1.1);
}
input.form-control::placeholder{
    color:black;
}
@media screen and (max-width: 1310px){
    .cover-text{
        font-size:6rem;
    }
}
@media screen and (max-width: 1201px){
    .carousel-item .carousel-caption{
        margin-bottom:16vh;
    }
}
@media screen and (max-width: 1100px){
    .carousel-item .carousel-caption{
        margin-bottom:14vh;
    }
}
@media screen and (max-width: 1030px){
    .carousel-item .carousel-caption{
        margin-bottom:10vh;
    }
    .cover-text{
        font-size:5rem;
        bottom:-1rem;
    }
}
@media screen and (max-width: 991px){
    header{
        position:unset!important;
    }
    .carousel-item .carousel-caption{
        margin-bottom:8vh;
    }
    .app-text{
        text-align: center;
    }
    .line{
        margin:0px auto;
    }
    .gallery{
        flex-direction: row!important;
    }
}
@media screen and (max-width: 880px){
    .carousel-item .carousel-caption{
        margin-bottom:6vh;
    }
}
@media screen and (max-width:864px){
    .carousel-item .carousel-caption{
        margin-bottom:4vh;
    }
    .cover-text{
        font-size:5rem;
        left:3.5rem;
    }
}
@media screen and (max-width:761px){
    .gallery{
        flex-direction: column!important;
    }
    .gallery:nth-of-type(2){
        flex-direction: row!important;
    }
}
@media screen and (max-width:750px){
    .cover-text{
        font-size:4rem;
    }
}
@media screen and (max-width:670px){
    .cover-text{
        font-size:3rem;
        bottom:-0.7rem;
    }
}
@media screen and (max-width:550px){
    .cover-text{
        font-size:2.8rem;
    }
}
@media screen and (max-width:515px){
    .cover-text{
        left:2.9rem;
    }
}
@media screen and (max-width:450px){
    .cover-text{
        left:2rem;
    }
}
@media screen and (max-width:400px){
    .cover-text{
        font-size:2rem;
        left:1rem;
        bottom:-0.5rem;
    }
}
   